* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "exo", sans-serif;
    max-width: 80%;
    margin: 0 auto;
    min-height: 100%;

}

header {
	background-color: #23033de8;
}

li {
    list-style: none;
    margin: 1rem;
}

a{
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    gap: 60px;
}



.nav-link:hover {
    color: yellow;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


main h1 {
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}

.container {
    color: #000;
    width: 80%;
	border-radius: 10px;
	height: 30rem;
    margin: auto;
    display: flex;
}


figure {
    max-width: 80%;
    padding: 10px;
    margin: auto;
}

figcaption {
    font: italic smaller sans-serif;
    text-align: center;
}

img {
	width: 270px;
    height: 200px;
}

footer {
    text-align: center;
    color: white;
    background-color: #23033de8;
    padding: 18px;
    margin-top: 20rem;
}

@media (max-width: 896px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column; 
        background-color: #23033de8;
        width: 80%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        margin-left: 47.4px;
    }

    footer {
        text-align: center;
        color: white;
        background-color: #23033de8;
        padding: 18px;
        margin-top: 100rem;
    }
}
