* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: auto;
    margin-left: 15rem;
}

.naijaFlag {
    width: 80%;
    height: 20px;
}

header h1 {
    text-align: center;
    color: white;
    background-color: #022906;
    padding: 18px;
    width: 80%;
    font-size: 3rem;
    letter-spacing: 5px;
}

.hero {
    width: 80%;
    height: 35rem;
    display: inline-flex;
}

.data_container {
    max-width: 270px;
    height: 230px;
    background-color: white;
    position: relative;
    margin-top: -33rem;
    padding: 20px;
    margin-left: 20px;
}

.data_heading {
    background-color: #1d773b;
    color: white;
    padding: 5px;
    position: absolute;
    margin-top: -14rem;
    margin-left: 10px;
    width: 250px;
    z-index: 1;
}

.data_heading h1 {
    padding-left: 15px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#countryInfo {
    margin-top: 40px;
}

.weather_container {
    position: absolute;
    max-width: 200px;
    height: 230px;
    background-color: white;
    position: relative;
    padding: 20px;
    margin-left: 40rem;
    margin-top: 2rem;
    opacity: 0.8;
}

.weather_heading {
    background-color: #1d773b;
    color: white;
    padding: 5px;
    position: absolute;
    margin-top: -14rem;
    margin-left: 39.5rem;
    width: 180px;
    display: flex;
    z-index: 1;
}

.weather_heading h1 {
    padding-left: 15px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.weather_image {
    max-width: 50px;
    height: auto;
    padding-left: 10px;
}

footer {
    text-align: center;
    color: white;
    background-color: #022906;
    padding: 18px;
    margin-top: 2rem;
    width: 80%;
}